<ion-tabs>
  <ion-tab tab="home">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon slot="icon-only" name="camera-outline" color="white"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="primary">
            <ion-button id="open-popover">
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="white"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>WhatsApp</ion-title>
        </ion-toolbar>

        <ion-popover [keepContentsMounted]="true" trigger="open-popover"  [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false" lines="none">Nuevo grupo</ion-item>
                <ion-item [button]="true" [detail]="false" lines="none">Nueva difusión</ion-item>
                <ion-item [button]="true" [detail]="false" lines="none">Dispositivos vinculados</ion-item>
                <ion-item [button]="true" [detail]="false" lines="none">Mensajes destacados</ion-item>
                <ion-item [button]="true" [detail]="false" lines="none" (click)="goSettings()">Ajustes</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-header>
      
      <ion-content id="main-content">
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="success">
            <ion-icon name="chatbubbles"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-list>
          <ion-item *ngFor="let friend of chats" [button]="true" lines="none">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" [src]="friend.avatar">
            </ion-avatar>
            <ion-label>
              <h3>{{friend.name}}</h3>
              <p>{{friend.message}}</p>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
              <ion-note color="medium">{{friend.time}}</ion-note>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
  </ion-tab>
  <ion-tab tab="radio">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="primary">
            <ion-button id="open-popover-states">
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Novedades</ion-title>
        </ion-toolbar>

        <ion-popover [keepContentsMounted]="true" trigger="open-popover-states"  [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false" lines="none">Nuevo grupo</ion-item>
                <ion-item [button]="true" [detail]="false" lines="none">Nueva difusión</ion-item>
                <ion-item [button]="true" [detail]="false" lines="none">Dispositivos vinculados</ion-item>
                <ion-item [button]="true" [detail]="false" lines="none">Mensajes destacados</ion-item>
                <ion-item [button]="true" [detail]="false" lines="none">Ajustes</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-header>
      <ion-content>
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="success">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <div class="ion-padding">
          <h4>Estados</h4>
          <ion-list id="custom-status-list">
            <ion-item lines="none" class="item" [button]="true">
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>
                <h3>Mi estado</h3>
                <p>Añade una actualización</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="transparent">
                <ion-label>Vistos</ion-label>
              </ion-item>
              <div slot="content">
                <ion-list id="custom-status-list">
                  <ion-item lines="none" class="item" *ngFor="let friendStates of states" [button]="true">
                    <ion-avatar aria-hidden="true" slot="start">
                      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                    </ion-avatar>
                    <ion-label>
                      <h3>{{friendStates.name}}</h3>
                      <p>{{friendStates.time}}</p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-content>
  </ion-tab>
  <ion-tab tab="library">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon slot="icon-only" name="search" color="white"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="primary">
            <ion-button>
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="white"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Llamadas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="success">
            <ion-icon name="call"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <p style="padding-left: 15px;">Favoritos</p>
        <ion-list id="custom-status-list">
          <ion-item lines="none" class="item" [button]="true">
            <ion-icon name="heart-circle-outline" slot="start" size="large" color="success"></ion-icon>
            <ion-label>
              <h2>Añadir favorito</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        <p style="margin-left: 15px;">Recientes</p>
        <ion-list id="custom-status-list">
          <ion-item *ngFor="let friend of chats" [button]="true" lines="none">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" [src]="friend.avatar">
            </ion-avatar>
            <ion-label>
              <ion-text [color]="friend.color">
                <h3>{{friend.name}}</h3>
              </ion-text>
              <div class="date-icon">
                <ion-icon [name]="friend.icon" [color]="friend.statusColor"></ion-icon>
                <p>{{ friend.dateTime }}</p>
              </div>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
              <ion-icon name="call"></ion-icon>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom" style="--color: #ffffff; --color-selected: #25d366;">
    <ion-tab-button tab="home" style="--ripple-color: #25d366;">
      <ion-icon name="chatbubble"></ion-icon>
      Chats
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio-button-on"></ion-icon>
      Novedades
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="call"></ion-icon>
      Llamadas
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
