#custom-status-list {
    --background: transparent !important;
    --ion-item-background: transparent !important;
    --border-color: transparent !important;
    --inner-border-width: 0px !important;
}