<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="custom-status-list">
    <ion-item lines="full" class="item" [button]="true" routerLink="/account">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Angel Alvarez</h3>
        <p>The System has failed</p>
      </ion-label>
      <ion-buttons>
        <ion-button size="large">
          <ion-icon slot="icon-only" name="qr-code-outline" color="success"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons>
        <ion-button size="large">
          <ion-icon slot="icon-only" name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-list id="custom-status-list">
    <ion-item *ngFor="let option of options" [button]="true" lines="none">
      <ion-label>
        <h3>{{option.name}}</h3>
        <p>{{ option.info}}</p>
      </ion-label>
      <div class="metadata-end-wrapper" slot="start" style="font-size: 20px;">
        <ion-icon [name]="option.icon"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <ion-label>
    <p class="ion-padding">También de Meta</p>
  </ion-label>
  <ion-list id="custom-status-list">
    <ion-item [button]="true" lines="none">
      <ion-label>
        <h3>Abrir Instagram</h3>
      </ion-label>
      <div class="metadata-end-wrapper" slot="start" style="font-size: 20px;">
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
    </ion-item>
    <ion-item [button]="true" lines="none">
      <ion-label>
        <h3>Abrir Facebook</h3>
      </ion-label>
      <div class="metadata-end-wrapper" slot="start" style="font-size: 20px;">
        <ion-icon name="logo-facebook"></ion-icon>
      </div>
    </ion-item>
    <ion-item [button]="true" lines="none">
      <ion-label>
        <h3>Abrir Threads</h3>
      </ion-label>
      <div class="metadata-end-wrapper" slot="start" style="font-size: 20px;">
        <ion-icon name="at-outline"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
